.profil-infos {
  width: 80%;
  padding: 10px;
  margin: 25px auto;
  border: solid 1.5px;
  border-radius: 10px;
}

.grid-container {
  font-size: 20px;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  margin: 20px auto 0 auto;
  padding: 5px;
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-areas:
    "a b c"
    "d b e"
    "f b g";
}

.formation {
  grid-area: a;
  justify-self: end;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-left: 25px;
}
.language {
  grid-area: d;
  justify-self: end;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-left: 25px;
}
.wild-year {
  grid-area: f;
  justify-self: end;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-left: 25px;
}
.picture {
  grid-area: b;
  justify-self: center;
}
.name {
  grid-area: c;
  justify-self: start;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-right: 25px;
}
.city {
  grid-area: e;
  justify-self: start;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-right: 25px;
}
.age {
  grid-area: g;
  justify-self: start;
  border-bottom: #ea5655 solid 2px;
  padding: 3px;
  padding-right: 25px;
}

.avatar {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button.modification-button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

button.modification-button:hover svg {
  fill: #ea5655;
}

button.modification-button:active svg {
  fill: black;
}

@media only screen and (max-device-width: 500px) {
  .grid-container {
    width: auto;
    display: block;
    text-align: center;
  }

  .formation {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }

  .language {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }

  .wild-year {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }

  .name {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }

  .city {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }

  .age {
    margin: 0 60px;
    padding: 10px;
    border: none;
    border-bottom: #ea5655 solid 2px;
  }
}

@media only screen and (max-device-width: 744px) {
  .grid-container {
    justify-content: center;
    width: auto;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "b b "
      "a c "
      "d e "
      "f g ";
  }

  .formation {
    padding: 5px;
    justify-self: center;
  }

  .language {
    padding: 5px;
    justify-self: center;
  }

  .wild-year {
    padding: 5px;
    justify-self: center;
  }

  .name {
    padding: 5px;
    justify-self: center;
  }

  .city {
    padding: 5px;
    justify-self: center;
  }

  .age {
    padding: 5px;
    justify-self: center;
  }

  .avatar {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-device-width: 1080px) {
  .grid-container {
    width: auto;
    justify-content: space-around;
    align-items: space-between;
    margin: 0 auto;
  }
}
